@font-face {
    font-family: lexend300;
    src: url(/assets/fonts/Lexend-300.otf);
}

@font-face {
    font-family: lexend400;
    src: url(/assets/fonts/Lexend-400.otf);
}

@font-face {
    font-family: lexend700;
    src: url(/assets/fonts/Lexend-700.otf);
}

@font-face {
    font-family: sourceSerif700;
    src: url(/assets/fonts/SourceSerif4-700.otf);
}

@font-face {
    font-family: scriptMt700;
    src: url(/assets/fonts/scriptMt700.OTF);
}
